<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Luigui
            <span class="text-primary">Gallardo-Becerra</span>
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:luiguimichelgallardo@gmail.com">luiguimichelgallardo@gmail.com</a>
        </div>
        <p class="lead mb-5">
            Experienced Bioinformatician and Molecular Biologist seeking new challenges to apply and expand my expertise in computational biology, data science, and molecular research. 
            Over the past several years, I have contributed to diverse research projects utilizing modern genomic technologies (NGS), 
            advanced data analysis, and data science methodologies to generate novel biological insights that have resulted in high-impact peer-reviewed scientific publications.
        </p>
        <p class="lead mb-5">
            Here are the links to my LinkedIn, GitHub and ResearchGate accounts. Also, this is my
            <a href="./academic_cv_lmgb_2025/academic_cv_lmgb_2025.pdf">resume</a>.
        </p>

        <p class="lead mb-5">
            <a href="https://luiguigallardo.github.io/bioinformatica_esp/">Página con tutoriales de bioinformática en español</a>.
        </p>
        
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/luiguigallardo/"><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/LuiguiGallardo/"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.researchgate.net/profile/Luigui-Gallardo-Becerra"><i
                    class="fa-brands fa-researchgate"></i></a>
        </div>
    </div>
</section>
