<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Luigui
            <span class="text-primary">Gallardo-Becerra</span>
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:luiguimichelgallardo@gmail.com">luiguimichelgallardo@gmail.com</a>
        </div>

        <p class="lead mb-5">
            Software Engineer and Computational Biologist with 6+ years of experience building backend systems,
            automating complex workflows, and designing scalable data pipelines. Proficient in C#, ASP.NET Core, Python,
            and SQL, with a strong background in bioinformatics, HPC environments, and cloud-native development.
            Contributed to 14 peer-reviewed publications through machine learning models and large-scale multi-omics
            analysis.
        </p>

        <p class="lead mb-5">
            Below are the links to my LinkedIn, GitHub, and ResearchGate profiles. You can also download my
            <a href="./academic_cv_lmgb_2026/academic_cv_lmgb_2026.pdf">resume here</a>.
        </p>

        <p class="lead mb-5">
            <a href="https://luiguigallardo.github.io/bioinformatica_esp/">Página con tutoriales de bioinformática en
                español</a>.
        </p>

        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/luiguigallardo/"><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/LuiguiGallardo/"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.researchgate.net/profile/Luigui-Gallardo-Becerra"><i
                    class="fa-brands fa-researchgate"></i></a>
        </div>
    </div>
</section>