<!-- Apps and pipelines-->
<section class="resume-section" id="apps">
    <div class="resume-section-content">
        <h2 class="mb-5">Applications and Pipelines</h2>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a href="https://github.com/LuiguiGallardo/littlevet">
                    LittleVet Web Application
                </a>
                <br><br>
                <ul>
                    <li>
                        Developed using HTML, CSS, Python, and Django framework
                    </li>
                    <li>
                        Created a comprehensive Django web application for veterinary clinic management, enabling administration of pet owners, patients (pets), and appointments
                    </li>
                </ul>
                <br>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a href="https://lgallardo.shinyapps.io/shiny_diff_expr_lmgb/">
                    DESeq2 Differential Expression Analysis Tool
                </a>
                <br><br>
                <ul>
                    <li>
                        Developed using Shiny and RStudio
                    </li>
                    <li>
                        Accepts two input files (metadata and feature/gene read counts) to calculate
                        differential expression between groups and generate volcano plots in SVG format
                    </li>
                    <li>
                        Provides downloadable correlation plots in SVG format for publication-ready visualizations
                    </li>
                </ul>
                <br>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a href="https://lgallardo.shinyapps.io/shiny_correlation_lmgb/">
                    Pearson and Spearman Correlation Analysis Tool
                </a>
                <br><br>
                <ul>
                    <li>
                        Developed using Shiny and RStudio
                    </li>
                    <li>
                        Accepts tabular data as input and calculates correlation coefficients and p-values using
                        either Pearson or Spearman correlation methods
                    </li>
                    <li>
                        Generates downloadable correlation plots in SVG format for research publications
                    </li>
                </ul>
                <br>
            </div>
        </div>
        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a href="https://github.com/LuiguiGallardo/nextflow_qiime1">
                    Nextflow Pipeline for 16S rRNA Profiling Analysis
                </a>
                <br><br>
                <ul>
                    <li>
                        Developed using Nextflow workflow management system
                    </li>
                    <li>
                        Processes raw 16S Illumina paired-end sequencing data through quality control, OTU clustering, taxonomic assignment, visualization, and alpha/beta diversity analysis
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</section>
