<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>

        <ul class="fa-ul mb-0">

            <!-- Professional Certifications -->
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                FullStack Academy – Software Development Bootcamp (2023)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Google Data Analytics Specialization (2022)
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Data Scientist: Machine Learning Specialization – Codecademy (2021)
            </li>

            <!-- Academic & Research Recognition -->
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Maximum Cum Laude – Bachelor’s Degree (2017)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                First Place – XVI State Contest of Physics Devices and Experiments (2011)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Honorable Mention – ExpoCiencias Nacional, Tlaxcala (Science Dissemination Project, 2010)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Second Place – XXIII Mexican Mathematics Olympiad, State Competition (2010)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Third Place – XIX University Mathematics Olympiad (2009)
            </li>

            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Second Place – XXI University Mathematics Olympiad, State Competition (2009)
            </li>

        </ul>
    </div>
</section>