<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                FullStack Academy Software Development Bootcamp - 2023
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Google Data Analytics Specialization - 2022
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Data Scientist: Machine Learning Specialization, Codecademy - 2021
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Honorific mention in Bachelor Degree - 2017
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                First place in the XVI State Contest of Physics Devices and Experiments - 2011
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Honorable mention in ExpoCiencias Nacional, Tlaxcala 2010 with science dissemination project -
                2010
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Second place in the State Competition of the XXIII Mexican Mathematics Olympiad - 2010
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Third place in the XIX University Olympiad of Mathematics - 2009
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Second place in the State Competition of the XXI University Olympiad of Mathematics - 2009
            </li>
        </ul>
    </div>
</section>
