<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>I enjoy outdoor activities, particularly hiking and camping, and have recently developed an interest in mountain biking. 
            At home, I appreciate classic movies and television series.
            I also dedicate my free time to staying current with developments in informatics, biotechnology, and scientific research, 
            continuously expanding my knowledge in these rapidly evolving fields.
        </p>
        <!-- <img alt="image_1" src="./assets/img/DSC_0134.JPG" style="max-width:400px; max-height:400px;"> -->
        <!-- <img alt="image_2" src="./assets/img/DSC_0081.JPG" style="max-width:400px; max-height:400px;"> -->
    </div>
</section>
