<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>
            I enjoy outdoor activities such as hiking, camping, and mountain biking, which help me stay active and
            connected to nature.
            At home, I appreciate classic films and television series as a way to unwind.
            I also dedicate time to exploring new developments in informatics, biotechnology, and scientific research,
            continually expanding my knowledge in these fast-evolving fields.
        </p>
        <!-- <img alt="image_1" src="./assets/img/DSC_0134.JPG" style="max-width:400px; max-height:400px;"> -->
        <!-- <img alt="image_2" src="./assets/img/DSC_0081.JPG" style="max-width:400px; max-height:400px;"> -->
    </div>
</section>