<!-- Research & Portfolio -->
<section class="resume-section" id="research_portfolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Research & Portfolio</h2>
        <div class="mb-3">
            <!-- <div class="research-intro"> -->
            Below is a selection of peer-reviewed publications I have co-authored.
            For each work, I briefly describe my main contributions and provide a link to the published article.
            <!-- </div> -->
        </div>

        <!-- Gallery research content -->
        <div class="research-portfolio-gallery">
            <div class="research-content">

                <!-- 2025 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://link.springer.com/article/10.1007/s00248-025-02620-2">
                                Bioactive Plasmid- and Phage-Encoded Antimicrobial Peptides (AMPs) in the Human Gut: A
                                Metatranscriptome–Virome Profiling Reveals Exploratory Links to Metabolic Human Diseases
                                (2025)
                            </a></h4>
                        <ul>
                            <li>Defined the main research question; performed raw data preprocessing; developed the
                                bioinformatics pipeline and custom tools; generated figures; and contributed to
                                manuscript writing.</li>
                        </ul>
                        <!-- <div class="research-image-container">
                    <img alt="hologenome perspective" src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1186%2Fs42523-025-00414-y/MediaObjects/42523_2025_414_Fig3_HTML.png?as=webp" class="img-fluid">
                </div> -->
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://animalmicrobiome.biomedcentral.com/articles/10.1186/s42523-025-00414-y">
                                Host genome drives the microbiota enrichment of beneficial microbes in shrimp: exploring
                                the hologenome perspective (2025)
                            </a></h4>
                        <ul>
                            <li>Helped define the research question; performed raw data preprocessing; built the
                                bioinformatics pipeline and analysis workflows; created figures; and contributed to
                                manuscript writing.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="hologenome perspective"
                                src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1186%2Fs42523-025-00414-y/MediaObjects/42523_2025_414_Fig3_HTML.png?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2024 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.mdpi.com/1422-0067/25/13/6904">
                                Environmental Enrichment Prevents Gut Dysbiosis Progression and Enhances Glucose
                                Metabolism in High-Fat Diet-Induced Obese Mice (2024)
                            </a></h4>
                        <ul>
                            <li>Performed raw sequencing data preprocessing; designed and executed the bioinformatics
                                pipeline; generated figures; and contributed to manuscript preparation.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="environmental enrichment mice"
                                src="https://pub.mdpi-res.com/ijms/ijms-25-06904/article_deploy/html/images/ijms-25-06904-ag-550.jpg?1719372700"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2023 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://link.springer.com/article/10.1007/s00248-023-02313-8">
                                Perspectives in Searching Antimicrobial Peptides (AMPs) Produced by the Microbiota
                                (2023)
                            </a></h4>
                        <ul>
                            <li>Led the conceptual design; performed data preprocessing; developed analysis pipelines
                                and custom tools; created figures; and co-wrote the manuscript.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="antimicrobial peptides"
                                src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs00248-023-02313-8/MediaObjects/248_2023_2313_Fig7_HTML.png?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a
                                href="https://www.microbiologyresearch.org/content/journal/mgen/10.1099/mgen.0.000938#tab2">
                                Complete genome sequence and characterization of a novel Enterococcus faecium
                                with probiotic potential isolated from the gut of Litopenaeus vannamei (2023)
                            </a></h4>
                        <ul>
                            <li>Preprocessed raw sequencing data, supported genome analysis, created figures, and
                                contributed to manuscript writing.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="enterococcus"
                                src="https://www.microbiologyresearch.org/docserver/fulltext/mgen/9/3/mgen000938-f4.gif"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.nature.com/articles/s41598-023-27906-8">
                                White spot syndrome virus impact on the expression of immune genes and gut microbiome of
                                black tiger shrimp Penaeus monodon (2023)
                            </a></h4>
                        <ul>
                            <li>Performed raw data preprocessing, supported downstream analyses, generated figures, and
                                contributed to manuscript drafting.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="white spot syndrome"
                                src="https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41598-023-27906-8/MediaObjects/41598_2023_27906_Fig2_HTML.png?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.mdpi.com/2073-4425/14/1/139">
                                The Two-Faced Role of crAssphage Subfamilies in Obesity and Metabolic Syndrome: Between
                                Good
                                and Evil (2023)
                            </a></h4>
                        <ul>
                            <li>Preprocessed sequencing data; developed project-specific software tools; created
                                figures; and co-authored the manuscript.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="crAssphage"
                                src="https://www.mdpi.com/genes/genes-14-00139/article_deploy/html/images/genes-14-00139-g006.png"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2022 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.mdpi.com/2223-7747/11/14/1798">
                                Transcriptome Analysis of Soursop (Annona muricata L.) Fruit under Postharvest Storage
                                Identifies Genes Families Involved in Ripening (2022)
                            </a></h4>
                        <ul>
                            <li>Preprocessed RNA-seq data; developed the analysis pipeline; generated figures; and
                                contributed to manuscript writing.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="soursop transcriptome"
                                src="https://www.mdpi.com/plants/plants-11-01798/article_deploy/html/images/plants-11-01798-g005.png"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a
                                href="https://www.nature.com/articles/s41598-022-10442-2#:~:text=Our%20work%20provides%20evidence%20that,in%20an%20organ%2Ddependent%20effect.">
                                Agavin induces beneficial microbes in the shrimp microbiota under farming conditions
                                (2022)
                            </a></h4>
                        <ul>
                            <li>Preprocessed raw sequencing data; implemented bioinformatics workflows; created figures;
                                and participated in manuscript preparation.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="agavin shrimp"
                                src="https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41598-022-10442-2/MediaObjects/41598_2022_10442_Fig1_HTML.png?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.sciencedirect.com/science/article/pii/S2666166722000508">
                                Protocol for the isolation, sequencing, and analysis of the gut phageome from human
                                fecal
                                samples (2022)
                            </a></h4>
                        <ul>
                            <li>Designed and implemented the bioinformatics pipeline; generated figures; and co-wrote
                                sections of the protocol.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="phageome protocol"
                                src="https://ars.els-cdn.com/content/image/1-s2.0-S2666166722000508-fx1.jpg"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2021 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.sciencedirect.com/science/article/pii/S2589004221008683">
                                Gut dsDNA virome shows diversity and richness alterations associated with childhood
                                obesity
                                and metabolic syndrome (2021)
                            </a></h4>
                        <ul>
                            <li>Helped define the research question; performed data preprocessing; built analysis
                                pipelines and custom tools; generated figures; and co-authored the manuscript.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="gut virome"
                                src="https://ars.els-cdn.com/content/image/1-s2.0-S2589004221008683-gr4.jpg"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2020 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a
                                href="https://microbialcellfactories.biomedcentral.com/articles/10.1186/s12934-020-01319-y">
                                Metatranscriptomic analysis to define the Secrebiome, and 16S rRNA profiling of the gut
                                microbiome in obesity and metabolic syndrome of Mexican children (2020)
                            </a></h4>
                        <ul>
                            <li>Contributed to defining the research question; performed biochemical work to obtain RNA
                                and prepare NGS libraries; preprocessed sequencing data; developed bioinformatics
                                pipelines and tools; created figures; and co-wrote the manuscript.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="secrebiome"
                                src="https://media.springernature.com/full/springer-static/image/art%3A10.1186%2Fs12934-020-01319-y/MediaObjects/12934_2020_1319_Fig3_HTML.png?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2018 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://peerj.com/articles/5382/">
                                A meta-analysis reveals the environmental and host factors shaping the structure and
                                function of the shrimp microbiota (2018)
                            </a></h4>
                        <ul>
                            <li>Helped define the research question; collected and curated raw data; performed
                                preprocessing; built bioinformatics workflows and custom tools; created figures; and
                                contributed to manuscript writing.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="shrimp meta-analysis"
                                src="https://dfzljdn9uc3pi.cloudfront.net/2018/5382/1/fig-2-1x.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- 2017 -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://www.nature.com/articles/s41598-017-11805-w">
                                Microbiome of Pacific Whiteleg shrimp reveals differential bacterial community
                                composition
                                between Wild, Aquacultured and AHPND/EMS outbreak conditions (2017)
                            </a></h4>
                        <ul>
                            <li>Preprocessed sequencing data; developed analysis pipelines; generated figures; and
                                contributed to manuscript preparation.</li>
                        </ul>
                        <div class="research-image-container">
                            <img alt="shrimp microbiome"
                                src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1038%2Fs41598-017-11805-w/MediaObjects/41598_2017_11805_Fig3_HTML.jpg?as=webp"
                                class="img-fluid">
                        </div>
                    </div>
                </div>

                <!-- Portfolio Projects -->
                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://github.com/LuiguiGallardo/metagenomic_snakemake">
                                Metagenomic Workflow with Snakemake
                            </a></h4>
                        <ul>
                            <li>Implemented a Snakemake workflow to align metagenomic samples with BWA-MEM, compute
                                relative abundances, and generate summary plots for downstream interpretation.</li>
                        </ul>
                        <div class="research-image-container multi-image">
                            <img alt="snakemake workflow"
                                src="https://github.com/LuiguiGallardo/metagenomic_snakemake/raw/main/workflow_diagram.svg"
                                class="img-fluid multi-img">
                            <img alt="snakemake results"
                                src="https://github.com/LuiguiGallardo/metagenomic_snakemake/raw/main/results/plot_final_result.svg"
                                class="img-fluid multi-img">
                        </div>
                    </div>
                </div>

                <div class="research-item-gallery">
                    <div class="research-item">
                        <h4><a href="https://github.com/LuiguiGallardo/seattle_airbnb">
                                Airbnb Seattle Data Analysis
                            </a></h4>
                        <ul>
                            <li>Downloaded and cleaned public Airbnb data for Seattle; performed exploratory and
                                statistical analyses; and created visualizations to answer business-driven questions and
                                build a coherent data story.</li>
                        </ul>
                        <div class="research-image-container multi-image">
                            <img alt="airbnb analysis 1"
                                src="https://raw.githubusercontent.com/LuiguiGallardo/seattle_airbnb/ca55ae669a56e89a84fbe8d6bb845c5c21ca8c9c/final_plot_1.svg"
                                class="img-fluid multi-img">
                            <img alt="airbnb analysis 2"
                                src="https://raw.githubusercontent.com/LuiguiGallardo/seattle_airbnb/ca55ae669a56e89a84fbe8d6bb845c5c21ca8c9c/map_bed_type.svg"
                                class="img-fluid multi-img">
                            <img alt="airbnb analysis 3"
                                src="https://raw.githubusercontent.com/LuiguiGallardo/seattle_airbnb/ca55ae669a56e89a84fbe8d6bb845c5c21ca8c9c/boxplot_bed_type.svg"
                                class="img-fluid multi-img">
                        </div>
                    </div>
                </div>

            </div> <!-- End of research-content -->
        </div> <!-- End of research-portfolio-gallery -->
    </div>
</section>